#standings-page-links-container {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#standings-page-links-container a {
  color: gray;
  margin: 0 0.5rem;
  cursor: pointer;
}

#standings-page-links-container a:hover {
  color: darkgrey;
}
