@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");

nav {
  margin: 0.3125rem 0;
  border: 1px solid gray;
  border-radius: 0.3125rem;
  line-height: 2.5rem;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.3125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  display: block;
  float: left;
  height: 20px;
  overflow: hidden;
  margin: 0 10px;
  line-height: 22px;
  font-family: "Cuprum", sans-serif;
  border-bottom: 3px solid white;
  margin-top: 3px;
}

nav a:hover {
  color: #222;
}

nav a:focus {
  background-color: #ddd;
  transition-duration: 0.1s;
}

nav a.current {
  border-bottom: 3px solid #3b5998;
}

nav.sub-navbar {
  border: none;
  line-height: 1.5rem;
}

nav.sub-navbar a {
  font-size: 0.9rem;
  border: none;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  margin: 0.1rem;
}

nav.sub-navbar a.current {
  background-color: #999;
}
