.datatable {
  background-color: #e1e1e1;
}

.datatable table {
  border: 1px solid #e1e1e1;
  background-color: white;
  width: 100%;
}

.datatable .header {
  text-align: left;
  padding: 5px;
}

.datatable td {
  width: auto !important;
  max-width: 20em !important;
  overflow: auto;
}

.datatable td,
.datatable th {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  padding: 0.4em;
  text-align: center;
  overflow: hidden;
}

.datatable .dark {
  background-color: #f8f8f8;
}

.datatable .left {
  border-left: none;
}

.datatable .right {
  border-right: none;
}

.datatable .top {
  border-top: none;
}

.datatable .bottom {
  border-bottom: none;
}

.datatable .dark-red-link {
  background-color: darkred;
  color: white;
  font-weight: 600;
  padding: 2px 4px;
  cursor: pointer;
}
