footer,
header,
#game-container,
#index-description-container li {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 1300px) {
  footer,
  header,
  #game-container,
  #index-description-container li {
    margin-left: 5%;
    margin-right: 5%;
  }
}

#root {
  text-align: center;
  font-family: verdana, arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 1100px;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type="submit"] {
  min-width: 5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
}

button.remove-default-styles {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  min-width: 0;
}

button.remove-default-styles:active,
button.remove-default-styles:focus {
  outline: none;
  background: transparent;
  border: 2px solid blue;
  min-width: 0;
}

.text-button:hover,
a.text-link:hover {
  color: #222;
  text-decoration: underline;
}

.text-button:active {
  border: none !important;
}

*:disabled {
  cursor: default !important;
}

.verdict-accepted {
  color: #0a0;
  font-weight: 700;
}

.verdict-rejected {
  color: #00a;
}

.green {
  color: green;
}

.dark-green {
  color: darkgreen;
}

.red {
  color: red;
}

.dark-red {
  color: darkred;
}

.bold {
  font-weight: bold;
}

.filter-dark-green {
  filter: invert(16%) sepia(48%) saturate(6420%) hue-rotate(94deg)
    brightness(99%) contrast(105%);
}

.filter-red {
  filter: invert(18%) sepia(86%) saturate(6957%) hue-rotate(359deg)
    brightness(94%) contrast(118%);
}
